{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>

    .md-main {
        flex-grow: 0
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .pytx-container {
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color),hsl(243, 100%, 76%)  99%,#fff 99%)
    }

    .pytx-hero {
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
        justify-content: center;
    }

    .pytx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .pytx-hero__content {
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .pytx-hero__image{
        width:17rem;
        height:17rem;
        order:1;
        padding-right: 2.5rem;
    }

    .pytx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .pytx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .pytx-hero .md-button:focus,
    .pytx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .feature-item h2 svg {
        height: 30px;
        float: left;
        margin-right: 10px;
        transform: translateY(10%);
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0 15px;
        word-break: break-word
    }

    .feature-item h2 {
        color: #333;
        font-weight: 300;
        font-size: 28px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 20px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin: 0 0 10px;
        display: block;
    }

    @media screen and (max-width:30em) {
        .pytx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }

        .pytx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pytx-hero__content {
            max-width: 22rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            background-color: #526cfe47;
            border-radius: 3px;
        }
    }

    .hr {
        border-bottom: 1px solid #eee;
        width: 100%;
        margin: 20px 0;
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .md-footer-meta__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.0rem;
    }

    .md-footer-social {
        padding-top: 20px;
    }
</style>

<!-- Main site Entry button descriptions -->
<section class="pytx-container">
    <div class="md-grid md-typeset">
      <div class="pytx-hero">
        <div class="pytx-hero__image">
          <img src="assets/product-layers.png" draggable="false">
        </div>
        <div class="pytx-hero__content">
          <h1> PyTexas 2024 </h1>
          <p>Join us for the largest gathering of Python developers within the great state of Texas.</p>
          <a href="#" class="md-button md-button--primary">
            Buy Tickets
          </a>
        </div>
      </div>
    </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
    <div class="feature-item">
        <h2>Sponsor <span style="font-weight: 100;">🤝</span></h2>
        <p class="lead">
            PyTexas wouldn't be possible without our sponsors. Check out our <a
                href="/sponsors/prospectus">Prospectus</a> and sponsor PyTexas today.</p>
    </div>
    <div class="feature-item">
        <h2>Attend <span style="font-weight: 100;">🎟️</span></h2>
        <p class="lead">
            PyTexas 2023 has ended. Join us next year for PyTexas 2024! <a
                href="https://pytexas.org">now</a>!
        </p>
        <a href="/about/code-of-conduct">Read our Code of Conduct.<a>   
    </div>
    <div class="feature-item">
        <h2>Speak <span style="font-weight: 100;">🎤</span></h2>
        <p class="lead">
            Our <a href="https://pretalx.com/pytexas-2023/">Call For Proposals (CFP)</a> is open
            until January 15th, 2023 23:59 CST. Submit your talk to be considered for PyTexas 2023!
        </p>
    </div>
</div>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}