[data-md-color-scheme="pytx2024_light"] {
    --md-primary-fg-color: #DAD5B9;
    --md-default-fg-color: #DAD5B9;
    --md-primary-fg-color--light: #9185DE;
    --md-default-fg-color--light: #9185DE;
    --md-primary-fg-color--dark: #4833c8;
    --md-default-fg-color--dark: #4833C8;
    --md-primary-fg-color--transparent: rgba(72, 51, 200, 0.50);
    --md-primary-bg-color: #1B211C;
    --md-primary-bg-color--transparent: color-mix(in srgb, rgba(27, 33, 28) 20%, white);
    --md-default-bg-color: #1B211C;
    --md-accent-fg-color: #FF6B6B;
    --md-accent-fg-color--transparent: rgba(255, 107, 107, 0.50);
    --md-accent-bg-color: #DAD5B9;
}

[data-md-color-scheme="pytx2024_dark"] {
    --md-primary-fg-color: #1B211C;
    --md-default-fg-color: #1B211C;
    --md-primary-fg-color--light: #FF6B6B;
    --md-default-fg-color--light: #FF6B6B;
    --md-primary-fg-color--dark: #4833C8;
    --md-default-fg-color--dark: #4833C8;
    --md-primary-fg-color--transparent: rgba(72, 51, 200, 0.50);
    --md-primary-bg-color: #DAD5B9;
    --md-default-bg-color: #DAD5B9;
    --md-accent-fg-color: #FF6B6B;
    --md-accent-fg-color--transparent: rgba(255, 107, 107, 0.50);
    --md-accent-bg-color: #BDD0C1;
}

.md-container {
    background: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}

.md-typeset h1 {
    color: var(--md-primary-bg-color);
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: var(--md-primary-fg-color);
    box-shadow: 0 0 .4rem .4rem var(--md-primary-fg-color);
    font-weight: 700;
    margin-top: 0;
    padding: 0 .6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
    color: var(--md-primary-fg-color--light);
}

.md-nav__list {
    background-color: var(--md-primary-fg-color) !important;
}

.pytx-container {
    background: linear-gradient(to right, var(--md-primary-fg-color--transparent), var(--md-accent-fg-color--transparent));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-top: .0rem;
}

.pytx-hero {
    margin: 0;
    color: var(--md-primary-bg-color);
    justify-content: center;
}

.pytx-hero__content {
    padding-bottom: 2rem;
    margin: 0 auto;
}

.pytx-hero__image {
    align-self: center;
    order: 0;
    max-height: 30rem;
    width: 75%;
}

.pytx-button {
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--md-primary-bg-color);
    display: block;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.pytx-button--primary {
    background-color: var(--md-primary-fg-color--dark);
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-bg-color--transparent);
}

.pytx-button:focus,
.pytx-button:hover {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-primary-fg-color);
}